<!DOCTYPE html>
<html lang="de">
    <%= partial "head" %>
    <body class="path-frontpage">
        <!-- Preloader-->
        <div id="loader">
            <div class="centrize">
                <div class="v-center">
                    <div id="mask">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <a href="#main-content" class="visually-hidden focusable">
            Direkt zum Inhalt
        </a>
        <%= partial "header" %>

<%= yield %>

<%= partial 'netzwerk' %>
<%= partial 'zusammenarbeit_reasons' %>
<%= partial 'contact' %>
<%= partial "parallax_image" %>
<%= partial "footer" %>
</body>
</html>