<!DOCTYPE html>
<html lang="de">

<%= partial "head" %>

    <body class="path-frontpage">
        <!-- Preloader-->
        <div id="loader">
            <div class="centrize">
                <div class="v-center">
                    <div id="mask">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <a href="#main-content" class="visually-hidden focusable">
            Direkt zum Inhalt
        </a>

        <%= partial "header" %>

            <section class="views-element-container" id="home">
                <div class="wp-images-comets-hidden">
                    <li class="src-images-comets-hidden">
                        <%= image_tag 'backgrounds/fromspace.jpg', :width => '1920', :height => '1280' %>
                    </li>
                </div>
                <div id="home-slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="field_image_comets-js"></div>
                            <div class="slide-wrap">
                                <div class="slide-content">
                                    <div class="container">
                                        <h1>Discover the Unexpected<span class="red-dot"></span></h1>
                                        <h6>Innovationslösungen die funktionieren.</h6>
                                        <a href="#about" data-scroll="true" class="btn btn-color btn-full">Mehr erfahren</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </section>



            <div class="container">


            </div>



            <section id="about">

                <div class="container">
                    <div class="title center">
                        <h4 class="upper">Innovationslösungen die funktionieren</h4>
                        <h2>Wir haben was Sie brauchen<span class="red-dot"></span></h2>
                        <hr>
                    </div>
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p class="lead-text serif text-center">Mit jahrzenter langer Erfahrung aus über hundert Projekten, solidem Fundament in Wirtschaft
                                    sowohl auch im Technischen werden wir, Gabriele Schwarz und Team auch ihr nächstes Projekt
                                    sicher zum Erfolg verhelfen.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="products" class="p-0 b-0">


                <div class="container-fluid">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="services">
                                <div class="row">

                                    <div class="col-sm-4 border-right">
                                        <div class="service">
                                            <i class="ti-plus"></i>
                                            <h3>Innoplus</h3>
                                            <hr>
                                            <p class="alt-paragraph">Mit einem Erfahrungshintergrund von über 20 aufgegleisten pro Jahr, geben wir
                                                unseren Kunden eine zeitnahe unabhängige Zweitmeinung und zeige die Chancen
                                                und Risiken auf.
                                            </p>
                                            <div class="rm-btn"><a class="btn btn-dark-out" href="/products/innoplus">Mehr Informationen</a></div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 border-right">
                                        <div class="service">
                                            <i class="ti-target"></i>
                                            <h3>Innofit</h3>
                                            <hr>
                                            <p class="alt-paragraph">Innofit ist das Fitnessabo für Ihre Innovationsstrategie. In definierten Abständen
                                                erarbeiten und überprüfen wir mit unseren Kunden als Sparring Partner die
                                                Innovationsstrategie des Unternehmens.</p>
                                            <div class="rm-btn">
                                            <%= link_to 'Mehr Informationen', '/products/innofit', :class => 'btn btn-dark-out'%>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="service">
                                            <i class="icon-lightbulb"></i>
                                            <h3>Schulungen</h3>
                                            <hr>
                                            <p class="alt-paragraph">Die meisten Innovationsprojekte sind interdisziplinär. Mit gezielten Schulungen
                                                in den verschiedensten Themengebiete des Innovationsmanagements erarbeiten
                                                wir mit Ihrem Team eine grössere gemeinsame Basis, damit Reibungsverluste
                                                durch Wissensdiskrepanzen von Anfang an minimiert werden.</p>
                                            <div class="rm-btn">
                                                <a class="btn btn-dark-out" href="/products/innovista-education">Mehr Informationen</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%= partial 'gaby_talking' %>

                <section class="views-element-container" id="team">

                    <div class="container">
                        <div class="title center">
                            <h3>Team &amp; Netzwerk Partner<span class="red-dot"></span></h3>
                            <h4 class="upper max-width">Wenn sich Projekte über mehrere Gebiete erstrecken, können wir auf die Unterstützung folgender
                                Partner zurückgreifen.</h4>
                            <hr />
                        </div>
                        <div class="section-content">
                            <div class="row">
                                <% data.team.team.each_with_index do |tm, index| %>
                                    <% @tm = tm %>
                                    <%= partial(:member, :object => @tm)  %>
                                <% end %>
                            </div>
                        </div>
                    </div>


                </section>

                <section class="grey">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-4 img-side img-right">
                                <div class="img-holder">
                                    <%= image_tag 'base/reference.jpg', :class => 'bg-img' %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-8">
                                <div class="title">
                                    <h3>Referenzen<span class="red-dot"></span></h3>
                                    <hr>
                                </div>
                                <p>Die Mehrzahl meiner begleiteten Projekten haben strategischen Charakter und tragen massgeblich
                                    zum USP einer Firma bei.</p>
                                <p>Aus diesen Gründen ist Vertraulichkeit ein wichtiger Punkt. In einem persönlichen Gespräch
                                    ist es uns jedoch möglich, Ihnen einige unserer Projekte und Ansprechpartner nennen zu
                                    können.<br><br></p>
                            </div>
                        </div>
                    </div>
                </section>

                <%= partial 'netzwerk' %>

                <%= partial 'zusammenarbeit_reasons' %>

             <%= partial 'contact' %>


                    <%= partial "parallax_image" %>

                        <%= partial "footer" %>

    </body>

</html>