<!DOCTYPE html>
<html lang="de">

<%= partial "head" %>

<body class="path-frontpage">
    <!-- Preloader-->
    <div id="loader">
        <div class="centrize">
            <div class="v-center">
                <div id="mask">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <a href="#main-content" class="visually-hidden focusable">
      Direkt zum Inhalt
    </a>

    <%= partial "header" %>

    <section class="views-element-container" id="home">
        <div class="wp-images-comets-hidden">
            <li class="src-images-comets-hidden">
            <%= image_tag 'base/background_header.jpg', :width => '1920', :height => '1280' %>
            </li>
        </div>
        <div id="home-slider" class="flexslider">
            <ul class="slides">
                <li>
                    <div class="field_image_comets-js"></div>
                    <div class="slide-wrap">
                        <div class="slide-content">
                            <div class="container">
                                <h1>Discover the Unexpected<span class="red-dot"></span></h1>
                                <h6>Innovationslösungen die funktionieren.</h6>
                                <a href="#about" data-scroll="true" class="btn btn-color btn-full">Mehr erfahren</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </section>



    <div class="container">


    </div>



    <section id="about">

        <div class="container">
            <div class="title center">
                <h4 class="upper">Innovationslösungen die funktionieren</h4>
                <h2>Wir haben was Sie brauchen<span class="red-dot"></span></h2>
                <hr>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="lead-text serif text-center">Mit jahrzenter langer Erfahrung aus über hundert Projekten, solidem Fundament in Wirtschaft sowohl
                            auch im Technischen werden wir, Gabriele Schwarz und Team auch ihr nächstes Projekt sicher zum
                            Erfolg verhelfen.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="products" class="p-0 b-0">


        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-12">
                    <div class="services">
                        <div class="row">

                            <div class="col-sm-4 border-right">
                                <div class="service">
                                    <i class="fa fa-plus fa-2x"></i>
                                    <h3>Innoplus</h3>
                                    <hr>
                                    <p class="alt-paragraph">Mit einem Erfahrungshintergrund von über 20 aufgegleisten pro Jahr, geben wir unseren
                                        Kunden eine zeitnahe unabhängige Zweitmeinung und zeige die Chancen und Risiken auf.
                                    </p>
                                    <div class="rm-btn"><a class="btn btn-dark-out" href="/products/innoplus">Mehr Informationen</a></div>
                                </div>
                            </div>

                            <div class="col-sm-4 border-right">
                                <div class="service">
                                    <i class="fa fa-life-ring fa-2x"></i>
                                    <h3>Innofit</h3>
                                    <hr>
                                    <p class="alt-paragraph">Innofit ist das Fitnessabo für Ihre Innovationsstrategie. In definierten Abständen erarbeiten
                                        und überprüfen wir mit unseren Kunden als Sparring Partner die Innovationsstrategie
                                        des Unternehmens.</p>
                                    <div class="rm-btn">
                                        <a class="btn btn-dark-out" href="/products/innofit">Mehr Informationen</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="service">
                                    <i class="fa fa-university fa-2x"></i>
                                    <h3>Schulungen</h3>
                                    <hr>
                                    <p class="alt-paragraph">Die meisten Innovationsprojekte sind interdisziplinär. Mit gezielten Schulungen in den
                                        verschiedensten Themengebiete des Innovationsmanagements erarbeiten wir mit Ihrem
                                        Team eine grössere gemeinsame Basis, damit Reibungsverluste durch Wissensdiskrepanzen
                                        von Anfang an minimiert werden.</p>
                                    <div class="rm-btn">
                                        <a class="btn btn-dark-out" href="/products/innovista-education">Mehr Informationen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>

  
    <section>





        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-4 img-side img-right">
                    <div class="img-holder">
                      <%= image_tag 'base/portrait-gaby.jpg',  :class => 'bg-img' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8">
                    <div class="">
                        <h3>Innovationsprojekte sind Reisen mit bekannten und unbekannten Variablen<span class="red-dot"></span></h3>
                        <hr>
                    </div>
                    <p>
                        Es sind spannende aber komplexe Vorhaben, die nicht nur eine Idee, sondern vielmehr Teamgeist, Ausdauer und Wissen erfordern.
                        Bei diesen Reisen unterstütze ich meine Kunden
                    </p>
                    <p>
                        Mit meiner jahrelangen Erfahrung aus fast 100 aufgegleisten Innovationsprojekten kann ich Ihnen sehr schnell ein Feedback
                        zu Ihrem Vorhaben geben. Unsere gelebte Zusammenarbeit mit Partner aus der Start-up Szene und die
                        enge Verbindung zur Akademia gewähren einen 360° Grad Blick auf Ihre Innovationsstrategie.
                    </p>
                    <p>
                        Meine Kunden sind vorwiegend im Business to Business Bereich tätig, mehrheitlich im Maschinen- Anlagebau (Tooling) und in
                        der Informatik. Wir haben gemeinsam, dass wir mit Leidenschaft an Innovationsprojekten arbeiten.
                        Einige sind «alte Hasen» im Innovationsmanagement, andere Kunden wagen ihre ersten Projekte – für
                        beide bin ich gerne Ihr Partner.
                    </p>
                    <p class="text-right">
                        <br><br><strong>- Dr. Gabriele Schwarz</strong><br> Gründerin Innovista Management GmbH
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="views-element-container" id="team">






        <div class="container">
            <div class="title center">
                <h3>Team &amp; Netzwerk Partner<span class="red-dot"></span></h3>
                <h4 class="upper max-width">Wenn sich Projekte über mehrere Gebiete erstrecken, können wir auf die Unterstützung folgender Partner zurückgreifen.</h4>
                <hr />
            </div>
            <div class="section-content">
                <div class="row">

          

 <% data.team.team.each_with_index do |tm, index| %>
    <% @tm = tm %>
    <%= partial(:member, :object => @tm)  %>
  <% end %>

              



                </div>
            </div>
        </div>


    </section>

    <section class="grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-4 img-side img-right">
                    <div class="img-holder">
                    <%= image_tag 'base/reference.jpg', :class => 'bg-img' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8">
                    <div class="title">
                        <h3>Referenzen<span class="red-dot"></span></h3>
                        <hr>
                    </div>
                    <p>Die Mehrzahl meiner begleiteten Projekten haben strategischen Charakter und tragen massgeblich zum USP
                        einer Firma bei.</p>
                    <p>Aus diesen Gründen ist Vertraulichkeit ein wichtiger Punkt. In einem persönlichen Gespräch ist es uns
                        jedoch möglich, Ihnen einige unserer Projekte und Ansprechpartner nennen zu können.<br><br></p>
                </div>
            </div>
        </div>
    </section>

    <%= partial 'netzwerk' %>

    <section class="grey">


        <div class="container why-work-with-us">
            <div class="title center">
                <h3>Warum sich eine Zusammenarbeit lohnt<span class="red-dot red-dot-question">?</span></h3>
                <hr>
                <h4 class="upper max-width">Gabriele Schwarz und ihr Team...</h4>
            </div>
            <div class="section-content">
                <div class="row column-center">
                    <div class="col-md-3 column">
                        <div class="icon-box-circular">
                            <div class="ib-icon"><i class="icon-compass"></i>
                            </div>
                            <div class="ib-content">
                                <p>Navigieren sie als erfahrene Piloten in neue Welten</p>
                            </div>
                        </div>
                        <!-- end of icon box-->
                    </div>

                    <div class="col-md-3 column">
                        <div class="icon-box-circular">
                            <div class="ib-icon"><i class="icon-shield"></i>
                            </div>
                            <div class="ib-content">
                                <p>Geben ihnen Argumente, ihr Projekt vor der Geschäftsleitung und oder vor einem Gremium durch
                                    zu bringen.</p>
                            </div>
                        </div>
                        <!-- end of icon box-->
                    </div>

                    <div class="col-md-3 column">
                        <div class="icon-box-circular">
                            <div class="ib-icon"><i class="icon-lifesaver"></i>
                            </div>
                            <div class="ib-content">
                                <p>Geben Sicherheit und Unterstützung</p>
                            </div>
                        </div>
                        <!-- end of icon box-->
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-3 column">
                        <div class="icon-box-circular">
                            <div class="ib-icon"><i class="icon-scope"></i>
                            </div>
                            <div class="ib-content">
                                <p>Zeigen Chancen und Risiken auf (Projektevaluation – Scientific Due diligence</p>
                            </div>
                        </div>
                        <!-- end of icon box-->
                    </div>

                    <div class="col-md-3 column">
                        <div class="icon-box-circular">
                            <div class="ib-icon"><i class="icon-quote"></i>
                            </div>
                            <div class="ib-content">
                                <p>Reduzieren das Risiko – ehrliches Feedback bei Risikomanagement und Go/Nogo Entscheide</p>
                            </div>
                        </div>
                        <!-- end of icon box-->
                    </div>

                </div>
                <!-- end of row-->
            </div>
            <!-- end of section content-->
        </div>



    </section>

    <section id="contact">

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="icon-box-small"><i class="icon-map"></i>
                        <hr>
                        <h4>Adresse</h4>
                        <p><a href="https://www.google.com/maps/dir//Innovista+Management+GmbH,+Seestrasse+101,+8707+Uetikon+am+See,+Switzerland/@47.259764,8.5348703,11z/data=!4m15!1m6!3m5!1s0x479aaf95a653875d:0x6b236500a679a7a3!2sInnovista+Management+GmbH!8m2!3d47.259764!4d8.674946!4m7!1m0!1m5!1m1!1s0x479aaf95a653875d:0x6b236500a679a7a3!2m2!1d8.674946!2d47.259764"
                                target="_blank"><span>Seestrasse 101</span><span>8707 Uetikon am See/ZH</span></a>
                        </p>
                    </div>
                    <!-- end of icon box-->
                </div>
                <div class="col-sm-4">
                    <div class="icon-box-small"><i class="icon-phone"></i>
                        <hr>
                        <h4>Telefon </h4>
                        <p><a href="tel:0438443170"><span>043 844 31 70</span></a>
                        </p>
                    </div>
                    <!-- end of icon box-->
                </div>
                <div class="col-sm-4">
                    <div class="icon-box-small"><i class="icon-envelope"></i>
                        <hr>
                        <h4>E-Mail</h4>
                        <p><a href="mailto:info@innovista.ch"><span>info@innovista.ch</span></a>
                        </p>
                    </div>
                    <!-- end of icon box-->
                </div>
            </div>
            <!-- end of row-->
        </div>




    </section>

 

   <%= partial "parallax_image" %>

   <%= partial "footer" %>

</body>

</html>
