<!DOCTYPE html>
<html lang="de">
    <%= partial "head" %>
    <body class="path-frontpage">
        <%= partial "header" %>

<%= yield %>

<%= partial 'netzwerk' %>
<%= partial 'zusammenarbeit_reasons' %>
<%= partial 'contact' %>
<%= partial "parallax_image" %>
<%= partial "footer" %>
</body>
</html>