<!DOCTYPE html>
<html lang="de">

<%= partial "head" %>

    <body>
        <div id="loader">
            <div class="centrize">
                <div class="v-center">
                    <div id="mask">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Preloader-->
        <!-- Navigation Bar-->
        <%= partial "header" %>
            <!-- End Navigation Bar-->



            <section class="page-title parallax">
                <div data-parallax="scroll" data-image-src="/images/backgrounds/train.jpg" class="parallax-bg"></div>
                <div class="parallax-overlay">
                    <div class="centrize">
                        <div class="v-center">
                            <div class="container">
                                <div class="title center">
                                    <h1 class="upper">Innoplus<span class="red-dot"></span></h1>
                                    <h4></h4>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="title txt-sm-center txt-xs-center">
                                <h4 class="upper">Die Beratung mit echtem Mehrwert</h4>
                                <h3>Innoplus<span class="red-dot"></span></h3>
                            </div>
                        </div>
                        <div class="col-md-8" style="line-height: 130%; font-size:120%;">
                        <p>Mit einem Erfahrungshintergrund von inzwischen über 120 aufgegleisten
                            Projekten geben wir unseren Kunden eine zeitnahe unabhängige Zweitmeinung
                                                            und zeigen Chancen sowie auch Risiken auf.</p> <p> Ob es um das gemeinsame Erarbeiten
                                                            eines Argumentarium für das Topmanagement oder den Verwaltungsrat geht, die Lancierung eines neuen Forschungsprojektes
                                                            oder um eine Expertenmeinungen in einem laufenden Projekt. Mit uns sind Sie auf der sicheren Seite.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8" style="line-height: 150%; font-size:120%;">
                            <p>Mit unserern mehr als 20 Jahren Erfahrung kennen wir uns bestens in der schweizer Wirtschaft sowie auch Akademie aus. Desweitere ist Dr. Gabriele Schwarz mandatierte
                            Innovationsmentorin der Kommission für Technologie und Innovation des Bundes (KTI) und hat speziell viel Erfahrung mit KMUs</p>
                        </div>
                        <div class="col-md-4">
                            <div class="title txt-sm-center txt-xs-center">
                                <h4 class="upper">Erfahren & Kompetent</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
              <section class="grey">
                <div class="container">
                    <div class="title center">
                        <h4 class="upper"></h4>
                        <h3>Vorteile<span class="red-dot"></span></h3>
                        <hr>
                    </div>
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="icon-box-basic"><i class="icon-magnifying-glass"></i>
                                    <h4>Andere Perspektive</h4>
                                    <p>Da wir Ihre Innovationsprozesse aus einem anderen Blickwinkel sehen, können wir Ihnen eine kompetente Zweitmeinung geben.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="icon-box-basic"><i class="icon-trophy"></i>
                                    <h4>ehrliches Feedback</h4>
                                    <p>Durch jahrelange Erfahrung geben wir Ihnen direktes Feedback welche Go/NoGo Entscheide erleichtern.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="icon-box-basic"><i class="icon-genius"></i>
                                    <h4>Interdisziplinär</h4>
                                    <p>Da wir in der Schweiz bestens vernetzt sind, können wir Sie immer gleich mit den passenden Partner, ob aus Wirtschaft oder der Akademie vernetzen. </p>
                                </div>
                            </div>
                        </div>
                        <!-- end of row-->
                    </div>
                    <!-- end of section content-->
                </div>
                <!-- end of container-->
            </section>
            <section class="parallax">
      <div data-parallax="scroll" data-image-src="/images/backgrounds/factory.jpg" class="parallax-bg"></div>
          <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    </section>

        
         
            <%= partial 'zusammenarbeit_reasons' %>

                <section id="contact">

                    <div class="container">               
                        <div class="title center">
                            <h3>Kontakt<span class="red-dot"></span></h3>
                            <hr>
                            <h4 class="upper max-width">Wir freuen uns auf Ihre Kontaktaufnahme</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-box-small"><i class="icon-map"></i>
                                    <hr>
                                    <h4>Adresse</h4>
                                    <p><a href="https://www.google.com/maps/dir//Innovista+Management+GmbH,+Seestrasse+101,+8707+Uetikon+am+See,+Switzerland/@47.259764,8.5348703,11z/data=!4m15!1m6!3m5!1s0x479aaf95a653875d:0x6b236500a679a7a3!2sInnovista+Management+GmbH!8m2!3d47.259764!4d8.674946!4m7!1m0!1m5!1m1!1s0x479aaf95a653875d:0x6b236500a679a7a3!2m2!1d8.674946!2d47.259764"
                                            target="_blank"><span>Seestrasse 101</span><span>8707 Uetikon am See/ZH</span></a>
                                    </p>
                                </div>
                                <!-- end of icon box-->
                            </div>
                            <div class="col-sm-4">
                                <div class="icon-box-small"><i class="icon-phone"></i>
                                    <hr>
                                    <h4>Telefon </h4>
                                    <p><a href="tel:0438443170"><span>043 844 31 70</span></a>
                                    </p>
                                </div>
                                <!-- end of icon box-->
                            </div>
                            <div class="col-sm-4">
                                <div class="icon-box-small"><i class="icon-envelope"></i>
                                    <hr>
                                    <h4>E-Mail</h4>
                                    <p><a href="mailto:info@innovista.ch"><span>info@innovista.ch</span></a>
                                    </p>
                                </div>
                                <!-- end of icon box-->
                            </div>
                        </div>
                        <!-- end of row-->
                    </div>

                </section>
            <%= partial "parallax_image" %>
                <%= partial "footer" %>
    </body>

</html>