<!DOCTYPE html>
<html lang="de">

<%= partial "head" %>

    <body>
        <div id="loader">
            <div class="centrize">
                <div class="v-center">
                    <div id="mask">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Preloader-->
        <!-- Navigation Bar-->
        <%= partial "header" %>
            <!-- End Navigation Bar-->
            <section class="page-title parallax">
                <div data-parallax="scroll" data-image-src="/images/backgrounds/code.jpg" class="parallax-bg"></div>
                <div class="parallax-overlay">
                    <div class="centrize">
                        <div class="v-center">
                            <div class="container">
                                <div class="title center">
                                    <h1 class="upper">Innofit<span class="red-dot"></span></h1>
                                    <h4></h4>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

     


            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="title txt-sm-center txt-xs-center">
                                <h4 class="upper">Das Fitnessabo für agile Unternehmen.</h4>
                                <h3>Innofit<span class="red-dot"></span></h3>
                            </div>
                        </div>
                        <div class="col-md-8" style="line-height: 130%; font-size:120%;">
                            <p>Um innovativ zu sein reicht es oft nicht nur alle paar Jahre die Innovationsstrategie eines Unternehmens anzuschauen. Im Gespräch mit unsere Kunden stellte sich heraus, 
                            dass es besser wäre ein Unternehmen über Jahre hinweg zu begleiten. Aus dieser Idee entwickelte sich Innofit. </p>
                            <p>Wie bei einem Fitnessabo, in definierten Abständen erarbeiten und überprüfen wir mit uns Kunden als Sparring Partner die Innovationsstrategie des Unternehmens.
Wie beim Sport ist auch bei Inno Fit ist ein langfristiges Engagement von Vorteil, im Idealfall über mehrere Monate oder eins-/zwei Jahre.</p>
                        </div>
                    </div>
                    <!-- end of row-->
                </div>
                <!-- end of container-->
            </section>
   
            <section class="grey">
                <div class="container">
                    <div class="title center">
                        <h4 class="upper"></h4>
                        <h3>Vorteile<span class="red-dot"></span></h3>
                        <hr>
                    </div>
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="icon-box-basic"><i class="icon-lock"></i>
                                    <h4>Sicherheit für die Zukunft</h4>
                                    <p>Dank längerfristigem Engagement, hilft Innofit, dass Ihr Unternehmen auch in 5 oder 10 Jahren gut aufgestellt ist.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="icon-box-basic"><i class="icon-magnifying-glass"></i>
                                    <h4>Andere Perspektive</h4>
                                    <p>Da wir Ihre Innovationsprozesse aus einem anderen Blickwinkel sehen, können wir Ihnen eine kompetente Zweitmeinung geben.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="icon-box-basic"><i class="icon-paperclip"></i>
                                    <h4>Innovationsprozess optimieren</h4>
                                    <p>Durch die enge Zusammenarbeit über längere Zeit sehen wir, wie Sie Ihren Innovationsprozess optimieren und anpassen können.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="icon-box-basic"><i class="icon-trophy"></i>
                                    <h4>ehrliches Feedback</h4>
                                    <p>Durch jahrelange Erfahrung geben wir Ihnen ein direktes Feedback welche Go/NoGo Entscheide erleichtern.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="icon-box-basic"><i class="icon-genius"></i>
                                    <h4>Interdisziplinär</h4>
                                    <p>Da wir in der Schweiz bestens aufgestellt sind, können wir Sie immer gleich mit den passenden Partner, ob aus Wirtschaft oder der Akademie vernetzen. </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="icon-box-basic"><i class="icon-layers"></i>
                                    <h4>lange Erfahrung</h4>
                                    <p>Mit fast 20 Jahren Erfahrung und hunderten Projekten wissen wir auf was zu achten ist.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           
            <section class="parallax">
      <div data-parallax="scroll" data-image-src="/images/backgrounds/factory.jpg" class="parallax-bg"></div>
          <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    </section>



                <%= partial 'zusammenarbeit_reasons' %>

                <section id="contact">

                    <div class="container">               
                        <div class="title center">
                            <h3>Kontakt<span class="red-dot"></span></h3>
                            <hr>
                            <h4 class="upper max-width">Wir freuen uns auf Ihre Kontaktaufnahme</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-box-small"><i class="icon-map"></i>
                                    <hr>
                                    <h4>Adresse</h4>
                                    <p><a href="https://www.google.com/maps/dir//Innovista+Management+GmbH,+Seestrasse+101,+8707+Uetikon+am+See,+Switzerland/@47.259764,8.5348703,11z/data=!4m15!1m6!3m5!1s0x479aaf95a653875d:0x6b236500a679a7a3!2sInnovista+Management+GmbH!8m2!3d47.259764!4d8.674946!4m7!1m0!1m5!1m1!1s0x479aaf95a653875d:0x6b236500a679a7a3!2m2!1d8.674946!2d47.259764"
                                            target="_blank"><span>Seestrasse 101</span><span>8707 Uetikon am See/ZH</span></a>
                                    </p>
                                </div>
                                <!-- end of icon box-->
                            </div>
                            <div class="col-sm-4">
                                <div class="icon-box-small"><i class="icon-phone"></i>
                                    <hr>
                                    <h4>Telefon </h4>
                                    <p><a href="tel:0438443170"><span>043 844 31 70</span></a>
                                    </p>
                                </div>
                                <!-- end of icon box-->
                            </div>
                            <div class="col-sm-4">
                                <div class="icon-box-small"><i class="icon-envelope"></i>
                                    <hr>
                                    <h4>E-Mail</h4>
                                    <p><a href="mailto:info@innovista.ch"><span>info@innovista.ch</span></a>
                                    </p>
                                </div>
                                <!-- end of icon box-->
                            </div>
                        </div>
                        <!-- end of row-->
                    </div>

                </section>

                <%= partial "parallax_image" %>
                    <%= partial "footer" %>
    </body>

</html>