<header id="topnav">
        <div class="container">
            <div id="block-comets-branding" class="logo">
                <a href="/">
                <%= image_tag 'base/logo.png', :width => 'auto', :height => 'auto', :alt => 'Innovista Management GmbH', :class => 'logo-light' %>
                <%= image_tag 'base/logo-dark.png', :width => 'auto', :height => 'auto', :alt => 'Innovista Management GmbH', :class => 'logo-dark' %>
                </a>
            </div>
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                 </div>
            </div>

            <div id="navigation">
                <h2 class="visually-hidden">Main navigation</h2>
                <ul class="navigation-menu">
                    <li class="has-submenu">
                    <%= link_to t(:produkte), '/#products', :class=>'is-active' %>

                        <ul class="submenu">
                            <li>
                            <%= link_to 'Innoplus', '/products/innoplus'%>
                            </li>
                            <li>
                            <%= link_to 'Innofit', '/products/innofit'%>
                            </li>
                            <li>
                            <%= link_to t(:schulungen), '/products/schulungen'%>
                            </li>
                            <li>
                            <%= link_to 'Innosuisse', '/innosuisse', :class => 'is-active'%>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <%= link_to 'Innosuisse', '/innosuisse', :class => 'is-active' %>
                    </li>
                    <li>
                        <a href="/#team"  class="is-active">Team &amp; Partner</a>
                    </li>
                    <li>
                        <a href="/#netzwerk"  class="is-active"><%= t(:netzwerk) %></a>
                    </li>
                    <li>
                        <a href="/#contact"  class="is-active"><%= t(:kontakt) %></a>
                    </li>
                    <li>
                        <a href="/blog"  class="is-active">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>