  <head>
    <title>Innovista Management</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"  content="Innovista - Innovationslösungen die funktionieren. MIt jahrelanger Erfahrung und bester Vernetzung bringen wir auch Ihr Projekt zum Erfolg.">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102435279-1', 'auto');
      ga('send', 'pageview');

    </script>

    <%= stylesheet_link_tag 'custom/ajax-progress.css' %>
    <%= stylesheet_link_tag 'custom/autocomplete-loading.css' %>
    <%= stylesheet_link_tag 'custom/clearfix.css' %>
    <%= stylesheet_link_tag 'custom/details.css' %>
    <%= stylesheet_link_tag 'custom/fieldgroup.css' %>
    <%= stylesheet_link_tag 'custom/hidden.css' %>
    <%= stylesheet_link_tag 'custom/item-list.css' %>
    <%= stylesheet_link_tag 'custom/nowrap.css' %>
    <%= stylesheet_link_tag 'custom/position-container.css' %>
    <%= stylesheet_link_tag 'custom/progress.css' %>
    <%= stylesheet_link_tag 'custom/reset-appearance.css' %>
    <%= stylesheet_link_tag 'custom/resize.css' %>
    <%= stylesheet_link_tag 'custom/sticky-header.css' %>
    <%= stylesheet_link_tag 'custom/tabledrag.css' %>
    <%= stylesheet_link_tag 'custom/tablesort.css' %>
    <%= stylesheet_link_tag 'custom/tree-child.css' %>


    <%= stylesheet_link_tag 'bundle' %>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'lity' %>
    <%= stylesheet_link_tag 'update' %>
 
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Halant:300,400" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
