<section class="views-element-container" id="netzwerk">
   <div class="container">
        <div class="title center">
            <h3>Netzwerk<span class="red-dot"></span></h3>
            <h4 class="upper">Wir arbeiten mit folgenden kompetenten Partnern zusammen.</h4>
            <hr />
        </div>
        <div class="section-content">
            <div class="boxes clients">
                <div class="row">
                    <div class="col-sm-4 col-xs-6 border-right border-bottom border-left border-top">
                        <a href="http://www.innovationnetwork.ch/" target="_blank">

                            <%= image_tag 'logos/innovation_network.png', :width => '250', :height => '120', :alt => 'Innovation Network' %>
                        </a>
                    </div>

                    <div class="col-sm-4 col-xs-6 border-right border-bottom border-left border-top">
                        <a href="http://www.projektconsulting.ch/" target="_blank">
                            <%= image_tag 'logos/haas_projekt_consulting.png', :width => '250', :height => '120', :alt =>'Projekt Consulting' %>
                        </a>
                    </div>

                    <div class="col-sm-4 col-xs-6 border-right border-bottom border-left border-top">
                        <a href="http://www.dieadvokatur.ch/" target="_blank">
                            <%= image_tag 'logos/sury_advokatur.png', :width => '250', :height => '120', :alt => 'Die Advokatur' %>
                        </a>
                    </div>

                    <div class="col-sm-4 col-xs-6 border-right border-bottom border-left border-top">
                        <a href="http://www.ixon.ch/" target="_blank">
                            <%= image_tag 'logos/ixon_gmbh.png', :width => '250', :height => '120', :alt => 'Ixon' %>
                        </a>
                    </div>

                    <div class="col-sm-4 col-xs-6 border-right border-bottom border-left border-top">
                        <a href="http://www.kellerpatent.ch/" target="_blank">
                            <%= image_tag 'logos/kellerp.png', :width => '250', :height => '120', :alt => 'KP' %>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section>